extends ../layout

block content
  .row
    .col-sm-8
      h2 <%= schema.label %> Detail
    .col-sm-4.text-right

      include ./confirmDestroy.pug

      .btn-group
        button.btn.btn-outline-dark.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
          a.dropdown-item(href="/<%= schema.identifier_plural %>/" + model._id + "/edit")
            i.fa.fa-fw.fa-pencil-alt
            | Edit
          a.dropdown-item(href='#' data-toggle='modal', data-target='#confirmDestroy' data-id=model._id)
            i.fa.fa-fw.fa-trash-alt
            | Destroy

  .row
    .col-sm-12
      table.table
        tbody
        <%_ schema.attributes.forEach((attr) => { _%>
          tr
            td <%= attr.label %>
            <%_ if (attr.datatype === DATATYPE_STRING_ARRAY) { _%>
            td= model.<%= attr.identifier %>.join(', ')
            <%_ } else if (attr.datatype === DATATYPE_BOOLEAN) { _%>
            td
              span
                if (model.<%= attr.identifier%>)
                  i.fa.fa-fw.fa-check-square
                else
                  i.fa.fa-fw.fa-square-o
            <%_ } else { _%>
            td= model.<%= attr.identifier %>
            <%_ } _%>
        <%_ }) _%>

        <%_ schema.relations.forEach((rel) => { _%>
        <%_ if ([RELATION_TYPE_BELONGS_TO, RELATION_TYPE_HAS_ONE].includes(rel.type)) { _%>
          tr
            td <%= rel.alias.label %>
            if model.<%= rel.alias.identifier %>_id
              td
                a(href="/<%= rel.schema.identifier_plural %>/" + model.<%= rel.alias.identifier + '_id' %>)= model.<%= rel.alias.identifier %>.<%= rel.related_lead_attribute %>
              </td>
            else
              td N/A
        <%_ } else if ([RELATION_TYPE_HAS_MANY].includes(rel.type)) { _%>
          tr
            td <%= rel.alias.label_plural %>
            td= model.<%= rel.alias.identifier %>_ids.length + ' <%= rel.alias.label_plural %>'
        <%_ } _%>
        <%_ }) _%>